@(tunes: List[Tune])
@import helper._

@main("NoteWar") {

@if(flash.get("error")) {
<p class="error">
  @flash.get("error")
</p>
}

    
<h2>@tunes.size() tune(s)</h2>
  @if(!tunes.isEmpty()) {
    <div class="tunes">
      <ul>
	@for(tune <- tunes) {
		     <li>
		       <a href="@routes.Application.showTune(tune.id)">@tune.title</a>
		     </li>
	}
      </ul>
    </div>
  }
  <div class="addNwc">
    <h2>Import nwc file :</h2>
    @form(action = routes.Application.importNwc, 'enctype -> "multipart/form-data") {
      <input type="file" name="nwc"/>
      <input type="submit" value="Upload" />
    }

  </div>
}
