@(tune: Tune) 

@main("NoteWar - " + tune.name()) {

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/vexflow.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/notewar.js")"></script>

<script type="text/javascript">
$(document).ready(function() {
  NoteWar.init($("#tuneRenderer").get(0), '/tune/@(tune.id())/json');
});
</script>


<h3>@tune.name</h3>

<canvas id="tuneRenderer" width=18000 height=600></canvas>

}
